@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,500&display=swap');
/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {

    font-family: 'poppins';
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.9;
}

Header{

    background-color: #53105C;

}

.header{

    width: auto;
    height: auto;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 15px;
}

Header .logo{


    height: 150px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.Logo_TBF{
    background-image: url('logo/TheBigFun.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200Px;
    width: 100%;
    height: 150px;
}

.links{

    display:inline;

}

.links h1{

    color:white;
    margin-bottom: 15px;

}

.links a {
    transition: text-shadow 0.2s ease-in-out
}


.links a:hover{

    text-shadow: 2px 2px 15px #F6EB0F;
    cursor: pointer;

}
/Organizadoor/

.ComoOrganizador{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #53105C;
    position: relative;

}

.ComoOrganizador .container{


    max-width: 900px;
    position: relative;
    z-index: 2;
}

.ComoOrganizador video{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.capa{

    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;

}

.Organizador{

    text-align: center;
    background-color: #F6EB0F;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    height: auto;
    width: 320px;
    box-shadow: 10px 10px 15px black;

}

.Organizador h1{
    margin-bottom: 10px;
}

.Organizador_Imagen{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Organizador_Imagen img{

    height: 300px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 40px;
}

/Organizadoor/



/Publico/

.ComoPublico{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #53105C;
    position: relative;

}

.ComoPublico .container{


    max-width: 900px;
    position: relative;
    z-index: 2;
}

.ComoPublico video{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.capa{

    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;

}

.Publico{

    text-align: center;
    background-color: #9cecef;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    height: auto;
    width: 320px;
    box-shadow: 10px 10px 15px black;

}

.Publico h1{
    margin-bottom: 10px;
}

.Publico_Imagen{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Publico_Imagen img{

    height: 300px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 40px;
}

/Publico/
/**/
@media(min-width: 720px){

    Header{

        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #53105C;
        position: fixed;
        width: 100%;
        z-index: 3;

    }

    .header{
        width: 100%;
        max-width: 1100px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    Header .logo{
        width: auto;
        height: auto;
        margin-bottom: 0px;
        margin-left: 30px;

    }

    .Logo_TBF{
        width: 110px;
        background-size: 110Px;
        height: 100px;
    }

    .header nav{
        font-size: 12px;
        display: flex;
        margin-top: 40px;
        margin-right: 20px;

    }


    .header .links a{
        font-size: 9px;
        margin-left: 40px;
    }

    /Organizadoor/
    .ComoOrganizador{

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top:150px;
        padding-bottom: 150px;
        background-color: #53105C;

    }


    .ComoOrganizador .container{
        width: 100%;
        max-width: 1000px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .ComoOrganizador video{

        width: 100%;
        object-fit: cover;

    }


    .capa{

        position: absolute;
        width: 100%;
        height: 100%;
        background: #1c1c1d;
        opacity: 0.5;

    }

    .Organizador_Imagen{

        margin-top: 50px;

    }

    /Organizadoor/

    /publico/

    .ComoPublico{

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top:150px;
        padding-bottom: 150px;
        background-color: #53105C;

    }


    .ComoPublico .container{
        width: 100%;
        max-width: 1000px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .ComoPublico video{

        width: 100%;
        object-fit: cover;

    }


    .capa{

        position: absolute;
        width: 100%;
        height: 100%;
        background: #1c1c1d;
        opacity: 0.5;

    }

    .Publico_Imagen{

        margin-top: 50px;

    }

    /publico/
}


/**/

@media(min-width: 810px){

    .header .links a{

        font-size: 11.5px;

    }
}

.videoProduct{
    width:100%;
}

.AboutTheProduct{
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.AboutTheProduct .container{

    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.AboutTheProduct h1{
    text-align: center;
    padding-bottom: 20px;
}

